<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p> This site was created by me and it's a weather app</p>
            <img class="portrait" src="/img/2020-05-12.jpg">
        </div>
        {{>footer}}
    </body>
</html>